<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Create a new Listing</h3>
        <br>
        <form method="post" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-label col-sm-1">Title </label>
                <input type="text" name="listing[title]" placeholder="add a catchy title" id="title" class="form-control">
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Description </label>
                <textarea name="listing[description]" placeholder="give description" class="form-control" rows="3" id="description"></textarea>
            </div>
        
            <div class="mb-3">
                <label for="image" class="form-label">Image URL </label>
                <input type="text" name="listing[image]" placeholder="enter image URL/Link" class="form-control" id="image">
            </div>
        
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price </label>
                    <input type="number" name="listing[price]" placeholder="1200" class="form-control" id="price">
                </div>
            
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country </label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" id="country">
                </div>
            </div>
        
            <div class="mb-3">
                <label for="location" class="form-label">Location </label>
                <input type="text" name="listing[location]" placeholder="Kolkata, West Bengal" class="form-control" id="location">
            </div>
            <br><br>    
            <button class="btn btn-outline-secondary">Add</button>
            <br><br>
        </form>
    </div>

</div>    
